In [52]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import nltk
nltk.download('wordnet')
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nguye\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nguye\AppData\Roaming\nltk_data...

In [28]:
df = pd.read_csv('../Dataset_Original/UTK/train.csv')
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \r\nAn Iranian woman has been sentenced ...,1

# Remove the author column

In [29]:
df.drop(columns=['author'], inplace=True)
df.head()

,id,title,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Print \r\nAn Iranian woman has been sentenced ...,1

# Combine the title and text columns

In [30]:
df['combined_text'] = df['title'] + " " + df['text']
df.head()

,id,title,text,label,combined_text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Print \r\nAn Iranian woman has been sentenced ...,1,Iranian woman jailed for fictional unpublished...

# Remove null values

In [31]:
df.dropna(inplace=True)
df.head()

,id,title,text,label,combined_text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Print \r\nAn Iranian woman has been sentenced ...,1,Iranian woman jailed for fictional unpublished...

In [32]:
df.isnull().sum()

id               0
title            0
text             0
label            0
combined_text    0
dtype: int64

# Remove duplicate news(title and text).

In [33]:
df.drop_duplicates(subset='combined_text', inplace=True)
df.head()

,id,title,text,label,combined_text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Print \r\nAn Iranian woman has been sentenced ...,1,Iranian woman jailed for fictional unpublished...

In [34]:
num_unique_values = df['combined_text'].nunique()
print(f'{num_unique_values}/{df.shape[0]}')

20133/20133

# Remove outliers

## Examples with only spaces (text length <=2)

In [35]:
df = df[df['combined_text'].str.len() > 2]
df.head()

,id,title,text,label,combined_text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Print \r\nAn Iranian woman has been sentenced ...,1,Iranian woman jailed for fictional unpublished...

In [38]:
df[df['combined_text'].str.len() <= 2].count()

id               0
title            0
text             0
label            0
combined_text    0
dtype: int64

## Examples with text content "source Add To The Conversation Using Facebook Comments" (text length = 54)

In [39]:
df = df[df['combined_text'] != "source Add To The Conversation Using Facebook Comments"]
df.head()

,id,title,text,label,combined_text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Print \r\nAn Iranian woman has been sentenced ...,1,Iranian woman jailed for fictional unpublished...

In [40]:
df[df['combined_text'] == "source Add To The Conversation Using Facebook Comments"].count()

id               0
title            0
text             0
label            0
combined_text    0
dtype: int64

# A few more text cleaning steps
- Removing the special symbols
- Removing the tags [\n etc]
- Removing the Web tags [www. @ etc]
- Removing numbers/figures

In [46]:
import string
import warnings
warnings.filterwarnings('ignore')

def text_cleaning(df):
  try:
      df['text']= df['text'].str.lower()
      print("Data Lower case successfull")
      # Remove HTML tags from the text in the 'text' column
      df['text'] = df['text'].apply(lambda x: re.sub(r'<[^>]*>', '', x))
      print("data html tags removed successfull")
      df['text'] = df['text'].apply(lambda x: re.sub(r'\d+', '', x))
      print("data Numbers removed successfull")
      df['text'] = df['text'].apply(lambda x: re.sub(r'[\n\t]', '', x))
      print("data TagLines/Newlines removed successfull")
      df['text'] = df['text'].apply(lambda x: re.sub(r'[\'\"\-]', '', x))
      print("data Double quote, single quote hypen removed successfull")
      df['text'] = df['text'].apply(lambda x: re.sub(r'[’‘“”]', '', x))

      # remove http, www log words with sigle char wwwaaaaayyyyy downhillthe etc
      df['text'] = df['text'].apply(lambda x: re.sub(r'(www\w*|http\w*|\\|\b\w*(\w)\2{5,}\w*\b)' , '', x))
      print("data website tags removed successfull")
      # Punctuation removal
      df['text'] = df['text'].apply(lambda x: "".join(char for char in x if char not in string.punctuation))
      print("data punctuation removed successfull")
      print('\n', "+"*50 ,'\n')
      print("Data Cleaning is completed Successfully")
      return df
  except Exception as e:
      raise e

In [48]:
df = text_cleaning(df)

Data Lower case successfull
data html tags removed successfull
data Numbers removed successfull
data TagLines/Newlines removed successfull
data Double quote, single quote hypen removed successfull
data website tags removed successfull
data punctuation removed successfull

 ++++++++++++++++++++++++++++++++++++++++++++++++++

Data Cleaning is completed Successfully

## Examples with non-English text

In [49]:
df = df[df['combined_text'].apply(lambda x: detect(x) == 'en')]
df.head()

,id,title,text,label,combined_text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,house dem aide we didnt even see comeys letter...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,why the truth might get you fired october \r...,1,Why the Truth Might Get You Fired Why the Trut...
3,3,15 Civilians Killed In Single US Airstrike Hav...,videos civilians killed in single us airstrik...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,print \ran iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...

# Remove punctuation, special characters, and stopwords.

In [50]:
stop_words = set(stopwords.words('english'))
df['combined_text'] = df['combined_text'].apply(lambda x: ' '.join(word for word in x.split() if word not in stop_words))
df['combined_text'] = df['combined_text'].apply(lambda x: re.sub(r'[^\w\s]', '', x))

# Lemmatization

In [53]:
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    words = word_tokenize(text)
    return ' '.join(lemmatizer.lemmatize(word) for word in words)

df['combined_text'] = df['combined_text'].apply(lemmatize_text)

# Save Data

In [55]:
# Remove rows with empty text again after processing
df['combined_text'].dropna(inplace=True)

In [58]:
output_dir = '../Dataset_Cleaned'
os.makedirs(output_dir, exist_ok=True)
output_file = os.path.join(output_dir, 'clean_train_UTK.csv')
df.to_csv(output_file, index=False)